.footer-container {
  background-color: #f5f5f5;
  padding: 40px 100px 20px;
  color: #333;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;

}

.footer-content {
  max-width: 1160px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 40px;
}

.footer-section {
  width: 20%;
  margin-bottom: 20px;
  
}

.footer-logo {
  width: 150px;
  margin-bottom: 15px;
}

.footer-section h4 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #0e76a8;
  display: flex;
  align-items: flex-start;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }

.footer-section ul li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-section ul li:hover {
  color: #e74c3c;
}

.social-icons {
  display: flex;
  margin-top: 10px;
}

.social-icons img {
  width: 28px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  border-top: 1px solid #ddd;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  margin-top: 20px;
}

/* Responsive */
@media (max-width: 991px) {
  .footer-section {
    width: 45%;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  .footer-section {
    width: 100%;
    text-align: center;
  }
  .social-icons {
    justify-content: center;
  }
}
.subscribe-wrapper {
  display: flex;
  gap: 8px;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.subscribe-input {
  flex: 1;
  height: 34px;
  font-size: 14px;
  padding: 4px 8px;
}

.subscribe-button {
  height: 32px;
  padding: 0 12px;
  background-color: #1d61ad;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

/* Responsive nhỏ lại cho mobile */


@media (max-width: 768px) {
  .footer-content {
    min-width: 220px;
    display: flex;
    justify-content: center;

  }
    .subscribe-wrapper {
    gap: 6px;
    max-width: 100%;
   
  }

  .subscribe-input {
    width: 300px;
  }


  .subscribe-button {
    height: 30px;
    width: 40px;
  }
}