/* src/components/PaymentMethods.css */
.container {
  margin-top: 20px;
  padding: 20px;

}

.payment-title {
    text-align: center;
    font-size: 2em;
    color: #004d99;
    margin-bottom: 20px;
    font-weight: bold;
     margin-top: 20px;
}

.payment-intro {
    font-size: 1.1em;
    margin-bottom: 30px;
    text-align: justify;
    padding: 10px;
    background-color: #f0f8ff;
    border-left: 4px solid #004d99;
}

.payment-section {
    margin-bottom: 35px;
}
.payment-section h2 {
    text-align: justify;
}

.section-title {
    font-size: 1.6em;
    color: #004d99;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
}

.payment-section p {
    margin-bottom: 15px;
    text-align: justify;
}

.payment-list {
    list-style-type: disc;
    padding-left: 30px;
    margin-bottom: 15px;
}

.payment-list li {
    margin-bottom: 8px;
}

.payment-contact-list {
    list-style-type: none;
    padding-left: 0;
}

.payment-contact-list li {
    margin-bottom: 5px;
}

strong {
    color: #1a1a1a;
}