.DestinationName {
    color: #9a9a9a;
}

.cardTourList {
    position: relative;
}
.cardTourList :hover {
  cursor: pointer;
  background-color: #FFFFCC;
}
.option :hover {
    cursor: pointer;
}
.cardTourList-body {
   margin: 10px;
}