.menu-container {
    position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  background-color: #1d61ad;  
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item:hover {
  background-color: #ffffff; /* Màu nền khi hover */
  color: #1d61ad; /* Màu chữ khi hover */
}
