.CollectionTitle {
    font-weight: bold;
  color: #1d61ad;
  margin-left: 23px;
  margin-right: 23px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 5px;
  margin-top:15px;
}
.collections-wrapper {
  width: 85%;
  margin: 0px auto;
}

.collections-wrapper h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  color: #545454;
  font-weight: 300;
  font-size: 27px;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));

  justify-items: center;
}


/* Collection Card */

.collection-card-wrapper {
  width: 288px;
  height: 200px;
  text-align: center;
}
/* Image zoom on hover + Overlay colour */
.card-parent {
  width: 100%;
  overflow: hidden;
  position: relative;
  /* float: left; */
  display: inline-block;
  cursor: pointer;
}
.card-parent :hover{
display: inline-block;
  cursor: pointer;
}

.card-child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: inset 0px -36px 54px -10px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}


.card-parent:hover .card-child,
.card-parent:focus .card-child {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.card-parent:hover .card-child:before,
.card-parent:focus .card-child:before {
  display: block;
  background-color: rgba(52, 73, 94, 0.5);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.card-parent:hover p,
.card-parent:focus p {
  display: block;
}

.card-child:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Media Queries */

@media only screen and (min-width: 1200px) and (max-width: 1380px) {
  .collections-wrapper {
    width: 95%;
  }

  .cards-wrapper {
    margin-left: 90px;
  }
}

@media only screen and (min-width: 1600px) {
  .collections-wrapper {
    width: 70%;
  }
}
/* Responsive: màn hình nhỏ hơn 768px */
@media (max-width: 768px) {
  .card-parent {
    flex: 0 0 calc(50% - 10px);
    height: calc((200 / 287) * (50% - 10px)); /* giữ tỉ lệ 200:287 */
    max-height: 150px; /* giới hạn chiều cao tối đa */
    gap: 2;
  }
}